@import "tailwindcss";

@theme inline {
  --font-mulish: var(--font-mulish);
  --font-sansita: var(--font-sansita);
}

@theme {
  /* --- COLORS --- */
  --color-pastel-bg: #C5D9ED;
  --color-pastel-pink: #f5d1fd;
  --color-pastel-blue: #d5e8ff;
  --color-pastel-mint: #9FE2BF;
  --color-pastel-yellow: #fff2b1;
  --color-ink: #2D2D2D;

  --shadow-soft: 4px 4px 0px 0px #2D2D2d;
  --shadow-soft-sm: 2px 2px 0px 0px #2D2D2D;
}

body {
  background-color: var(--color-pastel-bg);
  color: var(--color-ink);
  -webkit-font-smoothing: antialiased;
}
